// ui-main > .npmrc

# proxy=http://70.10.15.10:8080/
# https-proxy=http://70.10.15.10:8080/
# 아래의 registry 두 개중 선택하면 됩니다. (도메인으로 접근 하거나 IP로 접근)
# resistry=http://70.121.224.52:8081/repository/npm-all/
registry = http://nexus.sdsdev.co.kr:8081/repository/npm-all/
@nova:registry=http://nexus.sdsdev.co.kr:8081/repository/nexfinance-npm
